body {
    background-color: #ddc8f9;
    margin: auto;
    max-width: 1200px;
}
viewport {
    width: device-width;
}

@media only screen and (max-width:600px){

    }
@media only screen and(min-width: 600px){

    }
@media only screen and(min-width: 768px){

    }
@media only screen and(min-width: 992px){

    }
@media only screen and(min-width: 1200px){

    }

h1 {
    font-family: 'Josefin sans', sans-serif;
    display: flex;
    justify-content: center;
}
p {
    font-family: 'Josefin sans', sans-serif;
    font-weight: lighter;
}

em {
    font-family: 'Josefin sans', sans-serif;
}

h2 {
    font-family: 'Josefin sans', sans-serif;
    display: flex;
    justify-content: center;
}

strong {
    font-family: 'Josefin sans', sans-serif;
}

ul {
    font-family: 'Josefin sans', sans-serif;
}

li {
    font-family: 'Josefin sans', sans-serif;
    font-weight: lighter;
}

ol {
    font-family: 'Josefin sans', sans-serif;
}

h3 {
    font-family: 'Josefin sans', sans-serif;
}

h4 {
    font-family: 'Josefin sans', sans-serif;
}

h5 {
    font-family: 'Josefin sans', sans-serif;
    font-weight: lighter;
}

#color-palette {
    border: 2px solid black;
    padding: 10px;
    display: inline-block;
}

.color {
    background-color: white;
    height: 150px;
    width: 150px;
    display: inline-block;
}

.color1 {
    height: 150px;
    width: 150px;
    background-color: #ddc8f9;
    display: inline-block;
}

.color2 {
    height: 150px;
    width: 150px;
    background-color: #252422;
    display: inline-block;
}

.color3 {
    height: 150px;
    width: 150px;
    background-color: #f6f1d1;
    display: inline-block;
}

.color4 {
    height: 150px;
    width: 150px;
    background-color: #558b6e;
    display: inline-block;
}

.color5 {
    height: 150px;
    width: 150px;
    background-color: #03b5aa;
    display: inline-block;
}

img {
    width: 300px;
    margin: 15px;
}

.banner {
    display: flex;
    justify-content: center;
    align-content: center;
}

.banner img {
    width: 90%;
    padding: 10px;
    border: 10px solid #03b5aa;
}

.navbar {
    padding-left: 0;
}

.navigation {
    background-color: #f6f1d1;
    display: flex;
    justify-content: center;
}

.navigation ul {
    color: #252422;
    width: 60%;
    display: inline-flex;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 110%;
    list-style-type: none;
}

.about {
    background-color: #f6f1d1;
}

.about h1 {
    color: #252422;
    padding-left: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    background-color: #03b5aa;
}

.about p {
    color: #252422;
    padding-left: 5px;
    padding-bottom: 5px;
}
.descri {
    display: flex;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
.descri img {
    width: 50%;
    height: 100%;
    padding-bottom: 20px;
}
.descri p {
    padding-left: 40px;
    align-self: center;
    font-size: 18px;
}
.bold {
    font-family: 'Josefin sans', sans-serif;
    font-weight: normal;
}
.gallery {
    display: inline-grid;
    justify-content: space-between;
    max-width: 100%;

}
.gallery img {
    width: 50%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.column1of2 {
    float: left;
    width: 90%;
    margin: 10px;
}
.column2of2 {
    float: left;
    width: 90%;
    margin: 10px;
}
.column3of4 {
    float: left;
    width: 90%;
    margin: 10px;
}
.column4of4 {
    float: left;
    width: 90%;
    margin: 10px;
}
.column5of6 {
    float: left;
    width: 90%;
    margin: 10px;
}
.column6of6 {
    float: left;
    width: 90%;
    margin: 10px;
}
.contact ul {
    display: inline-flex;
    justify-content: space-evenly;
    list-style-type: none;
    width: 60%;
}
.contact {
    display: flex;
    justify-content: center;
    background-color: #f6f1d1;
}
.contactbox {
    background-color: #f6f1d1;
}
.contactbox h2 {
    background-color: #03b5aa;
    padding-top: 10px;
    padding-bottom: 10px;
}
.video {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
}
.resume {
    background-color: #f6f1d1;
}
.resume h2 {
    background-color: #03b5aa;
    padding-top: 10px;
    padding-bottom: 10px;
}
.resume p, h3, h4, h5 {
    padding-left: 30px;
    padding-right: 30px;
}
.resume p {
    padding-bottom: 10px;
}
.resume ul {
    padding-bottom: 10px;
}

hr {
    border-top: 1.5px solid #252422;
}
.footer {
    background-color: #f6f1d1;
}
.footer p {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.videocontainer {
  position: relative;
  overflow: hidden;
  width: 90%;
  padding-top: 56.25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.videogallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.grid-container img {
    display: flex;
    justify-content: center;
    width: 100%;
}
