viewport {
    width: device-width;
}
body {
    width: 725px;
    margin: auto;
}
h1 {
    color: #33485e;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    letter-spacing: 2px;
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
    text-align: center;
    text-transform: uppercase;
}
p {
    font-family:'Merriweather', serif;
    @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
}
#title {
    font-style: italic;
    color: grey;
    text-align: center;
}
#hr1 {
    width: 550px;
    align-items: center;
}
#contact {
    text-align: center;
}
.contact {
    display: inline;
    font-size: 14px;
}

img {
    max-width: 300px;
    width: 100%;
    float: right;
    padding-left: 10px;
}
.about {
    line-height: 2em;
}
.highlight {
    color: white;
    background-color: #33485e;
    padding: 2px;
    font-weight: bolder;
}
h2 {
    color: white;
    background-color: #33485e;
    padding: 2px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300px;
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
}
h3 {
    line-height: .25em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300px;
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
}
h4 {
    line-height: .25em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300px;
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
}
h5 {
    line-height: .25em;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300px;
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
}
.info {
    font-size: 12px;
}
hr {
    align-items: center;
    width: 725px
}
li {
    font-size: 14px;
    font-family:'Merriweather', serif;
    @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
}
